<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698610817299-18q4suu9q2kt5tvfh50rlhj9oa5tpdgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698610817299-18q4suu9q2kt5tvfh50rlhj9oa5tpdgi</string>
	<key>API_KEY</key>
	<string>AIzaSyBHQ0Y4ZjlC-KNSrAFIm-i9ckAnerjPmJE</string>
	<key>GCM_SENDER_ID</key>
	<string>698610817299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>plamstef.examApp</string>
	<key>PROJECT_ID</key>
	<string>examapp-27d9e</string>
	<key>STORAGE_BUCKET</key>
	<string>examapp-27d9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698610817299:ios:6470a83419b64ad8f662e6</string>
	<key>DATABASE_URL</key>
	<string>https://examapp-27d9e.firebaseio.com</string>
</dict>
</plist>